/node_modules
/config.json
/package-lock.json
/npm-debug*
/last
public/mobile
public/index-mobile.html.copy
public/test*
public/sam/
*test*
*beta*
public/mobile
public/back
public/css/phone_style_ch*
public/css/style_b.css
*copy*
.well*
/*acme-*
/public/images/artwork.png
