/*CSS 2.0.1 */

@import url('https://fonts.googleapis.com/css?family=Raleway:100i,200i,400,500,600,600i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

::-webkit-scrollbar-button {
background-repeat:no-repeat;
width:8px;
height:0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

::-webkit-scrollbar-track {
background-color:#222;
-webkit-border-radius: 0px;
border-radius: 0px;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color: #080808;
}

::-webkit-scrollbar-thumb:hover{
background-color: #757575;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:8px;
height:0px
}

::-webkit-scrollbar{
width: 8px;
}



/* FIREFOx SCROL  */


::-moz-scrollbar-button {
background-repeat:no-repeat;
width:8px;
height:0px;
-moz-border-radius: 10px;
border-radius: 10px;
}

::-moz-scrollbar-track {
background-color:#222;
-moz-border-radius: 10px;
border-radius: 10px;
}

::-moz-scrollbar-thumb {
-moz-border-radius: 10px;
border-radius: 10px;
background-color: #080808;
}

::-moz-scrollbar-thumb:hover{
background-color: #757575;
}

::-moz-resizer{
background-image:url('');
background-repeat:no-repeat;
width:8px;
height:0px
}

::-moz-scrollbar{
width: 8px;
}


scrollbar-button {
background-repeat:no-repeat;
width:8px;
height:0px;
border-radius: 10px;
border-radius: 10px;
}

scrollbar-track {
background-color:#222;
border-radius: 10px;
border-radius: 10px;
}

scrollbar-thumb {
border-radius: 10px;
border-radius: 10px;
background-color: #080808;
}

scrollbar-thumb:hover{
background-color: #757575;
}










* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

body, html {
    height:100%;
    font-size: 0; 
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

h2 {
    
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 5px black;
    
}

#artist {
       font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 5px black;
}

h3 {
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
}

#title {
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
}

h3 {
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
}





.main {
    width: auto;
    height: 100%;
       
    
    
}

.header {
    height: 15%;
    border-bottom: 1px solid #1c1c1c;
    /*height: 157px;*/
    /*background-image: url(images/psd_01.jpg);*/
    /* background-color:#222; */
    background-color: #111;
}

.title {
    font-size: 15px;
    display: inline-block;
    padding-top: 50px;
    /*position:absolute;*/
    width: 100%;
    color: white;
    /*margin-top: 25px;*/

}

.content {
    height: 75%;
    /* background-color: rgb(255, 255, 255); */
    background-color: #222;
}

.chat {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    background-color: #222;
    /* background-color: #222; */
    /*background-color: orangered;*/
    height: 100%;
    /*border-right: 1px solid #1c1c1c;*/
    
   
        
}

.messages {
    padding-left: 30px;
    height: 100%;
    overflow-y: auto;
    /*border-bottom: 1px solid #171717;*/

    
}

.message {
    display: flex;
    cursor: default;
    height: auto;
    width: auto;
    max-width: 400px;
    box-sizing: border-box;
    margin: 20px 0;
 
}

.message img {
    display: inline-block;
    /*width: 30px;
    height: 30px;*/
    border-radius: 25px;
    margin-bottom: -9px;
    margin-left: -2px;
}

.message p {
    flex-wrap: wrap;
    /*margin: -4px 0;*/
    padding: 10px 10px; 
    /*border-radius: 10px;*/
    /*background-color: #171717;*/
    display: inline-block;
    width: 300px;
    color: rgba(256, 256, 256, .7);
    font-size: 13px;
}

.message:hover {
	background-color: #171717;
	border-radius: 25px 0 0 25px;
}






.input {
    display: block;
    
    /*height: 15%;*/
    width: 100%;
    padding-top: 20px;
    /*padding-left: 30px;*/
    
}

#input {
    display: none;
}

.inputText {
    width: 97.5%;
    height: 50px;
<<<<<<< HEAD
    /* background-color: #222; */


    background-color: #222;
    /*border-radius: 15px;*/
    padding: 0 0 0 15px;
    /*margin-top: 2px;*/
 
=======
    background-color: #111;
    padding: 0 0 0 15px;

>>>>>>> origin/dev
}

textarea {
    
    width: 80%;
    background-color: #111;
    overflow-y: hidden;
    color: rgba(256, 256, 256, 0.5);
    resize: none;
    border: none;
    outline: none;
    padding-bottom: 10px;
    margin-top: 10px;

}

#newUserName {
    width: 80%;
    /* background-color: #222; */
    background-color: #111;
    color: rgba(256, 256, 256, 0.5);
    border: none;
    outline: none;
    padding-bottom: 10px;
    height: 10px;
    margin-top: 10px;  
}

.input .name {
    background-color: #080808;
    width: 70px;
    height: 4px;
    /*border-radius: 15px 15px 0 0;*/
    border: none;
    outline: none;
    padding: 10px;
    color: rgba(256, 256, 256, 0.5);
    resize: none;
    font-weight: bold;
}

.input ::-webkit-input-placeholder {
    font-weight: normal;
    color: rgba(256, 256, 256, 0.2);
    font-style: italic;
    padding-top: 0;
}

#userNameInput ::-webkit-input-placeholder {
    padding-top: 0;
}



.button {
    width: 20%;
    height: 100%;
    vertical-align: top;
    color: white;
    display: inline-block;
    background-color: #0a0a0a;
    padding: 12px 21px;
    border: none;
    outline: none;
    /*border-radius: 0 15px 15px 0;*/
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover {
    filter: invert(.1);
    transition-duration: .2s;
}

.audioButtons {
    padding-top: 30px;
}

.player{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 100%;
    background-color: #222;
    /*background-color: red;*/
    padding: 0;
    margin: 0;
    color: white;
    font-size: 15px; 
}



.cover {
    padding-top: 70px;
    width: 100%;
}

.image {
    width: 372px;
    height: auto;   
    margin: 0 auto;
    border: none;
}

.image img {
    display: block;
    margin: 0 auto;
    border-radius: 60%;
}

.image img:hover {
    filter:grayscale(85%);    
    transition-duration: 0.5s;
}

.songInfo {
    padding-top: 25px;
    width: 100%;
    text-align: center;
}


.socialLinks{
    vertical-align: top;
    padding: 0;
    display: inline-block;
    width: 30%;
    height: 100%;
    /*background-color: orangered;*/
    margin: 0;
}

.footer {
    height: 10%;
    background-color: #111;
    /*background-color: #fff;*/


}

.footer img {
    padding: 0 0 0 0;
    display: block;
    margin: 0 auto;
    width: 2%;
    cursor: default;
    
}

#playBtn, #pauseBtn {
    /*border: red solid;*/
    cursor: pointer;
}



.footer img:hover {
    filter:brightness(1.8);    
    transition-duration: 0.5s; 
     
    
}



.footer img:active {
    padding: 25px 0 0 0;
    display: block;
    margin: 0 auto;
    width: 1.9%;
    
    
}


.socialLinks text {
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 5px black;
    
}

.error {
    padding-top: 50px;
    height: 100px;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    text-align: center;

}

.error h1 {
    font-size: 20px;
}

.error h2 { 
    padding: 10px; 
    font-family: 'Roboto Slab', serif;
}

